.btn-signup{
    font-size: 50px;
    color: #FFFFFF;
    background: #800000;
    border-radius: 5px;
    border: 0;
    padding: 20px;
    cursor: pointer;
}

.btn-login-sm {
    color: #FFFFFF;
    background: #800000;
    border-radius: 5px;
    border: 0;
    padding: 17px 50px;
    font-size: 20px;
    cursor: pointer;
}

.font-mont{
    font-size: 65px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

/* styles.css */
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select {
    display: block;
    position: relative;
    width: 100%;
    background-color: #e0e2e4;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0;
}


/* Reposition the arrow to the right */
.custom-select::after {
    content: '\25BC'; /* Unicode down arrow character */
    position: absolute;
    top: 50%;
    right: 25px; /* Adjust the position as needed */
    transform: translateY(-50%);
    pointer-events: none;
}


.custom-select-class {
    display: block;
    position: relative;
    width: 100%;
    background-color: #e0e2e4;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    max-width: 370px;
}


.custom-select-class::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    pointer-events: none;
}


.btn-cancel{
    border-radius: 5px;
    border: 0;
    background-color: #b2b2b2;
    color: white;
    cursor: pointer;
    width: auto;
    padding: 15px 28px;
    font-size: 20px;
}

.btn-save{
    border-radius: 5px;
    border: 0;
    background-color: #800000;
    color: white;
    cursor: pointer;
    width: auto;
    padding: 15px 40px;
    font-size: 20px;
}

.btn-maroon {
    border-radius: 5px;
    border: 0;
    padding: 20px 0;
    background-color: #800000;
    color: white;
    cursor: pointer;
    width: 114px;
}

.valid{
    color: #5cb85c;
}

.error{
    color: #ff0033;
}

.sort.asc{
    transform: rotate(0deg);
    transition: transform .5s;
}

.sort.desc{
    transform: rotate(180deg);
    transition: transform .5s;
}

.sorting{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sorting img{
    cursor: pointer;
}