.admin-student-container {
    transition: margin-left 0.3s; /* Add smooth transition for opening/closing sidebar */
}
.student-content{
    width: 100%;
    margin: 100px auto;
    background-color: transparent;
    max-width: 1522px;
    text-align: center;
}

.font-mont{
    font-size: 50px;
}

.admin-student-table, .admin-student-table-data {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}

.admin-student-table th{
    padding: 20px;
    font-size: 20px;
    width: 50%;
}

.admin-student-table-data th{
    padding: 20px;
    font-size: 20px;
    width: auto;
}

.admin-student-table td {
    padding: 10px; /* Add padding to create spacing */
    font-size: 20px;
    width: 50%;
}

.admin-student-table-data td {
    padding: 10px; /* Add padding to create spacing */
    font-size: 20px;
    width: auto;
}

.admin-student-table thead,tbody, .admin-student-table-data thead,tbody {
    text-align: center;
    padding: 20px 0;
}

.list-student{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.list-student-item{
    background: #800000;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
}
.list-student-item p{
    font-size: 15px;
    font-weight: 200;
    font-family: unset;
    color: #FFFFFF;
}
.course-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.course-description:hover {
    white-space: unset;
    max-width: 200px;
    overflow: unset;
    text-overflow: unset;
}

.modal-title p:last-child {
    font-size: 20px;
    font-weight: 200;
    font-family: unset;
}

.table-container{
    width: 100%;
    margin: 0 auto;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
    border-radius: 15px;
    max-width: 1522px;
}

@media only screen and (max-width: 1518px) {
    .table-container{
        max-width: 700px;
    }
    .student-sort{
        max-width: 700px;
    }
}

@media only screen and (max-width: 802px) {
    .table-container{
        max-width: 600px !important;
    }
    .student-sort{
        max-width: 600px;
    }
}

@media only screen and (max-width: 616px) {
    .table-container{
        max-width: 350px !important;
    }
    .student-sort{
        max-width: 350px;
    }
}


@media  only screen and (max-width: 1148px) {
    .admin-student-container{
        display: block;
        margin-left: 0 !important;
    }

    .admin-student-container.hide{
        display: none;
    }
    .table-container {
        width: 100%;
        margin: 0 auto;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #FFFFFF;
        max-width: 800px;
    }

    .font-mont{
        font-size: 30px;
    }
}

.student-account-select:focus{
    outline: 0;
}

.student-account-select {
    appearance: none;
    width: 100%;
    height: 35px;
    margin: 10px 0;
    border-radius: 5px;
    border: 0;
    background-color: transparent;
    text-indent: 10px;
    font-size: 20px;
    color: #800000;
    padding: 0 48px 0 0;
    cursor: pointer;
}

.custom-select-class{
    background-color: transparent;
    border-bottom: 1px solid #800000;
    border-radius: 0;
    max-width: 195px;
}

.student-sort{
    display: flex;
    justify-content: start;
    margin: 0 auto;
}
.student-sort img{
    cursor: pointer;
}
